

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #1f1f1f;
    position: relative;
    overflow: hidden;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #787878;
    font-size: 1.3rem;
}
*::selection{
    background-color: #1f1f1f;

}

#loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    z-index: 99999999999;
}
.spinner {
    margin: 300px auto;
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: 12px;
  }
  
  .spinner > div {
    background-color: rgb(51, 51, 51);
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

/*******************************header***********************************************/
header{
    /* background-color: white; */
    transition: all 0.5s;
    box-shadow: 5px 5px 15px rgba(31, 31, 31, 0.07);

}
header .navbar-collapse{
    border-top: 1px solid #e6e6e6;
    padding-left: 1rem;
    background-color: white;
    
}
header .nav-item{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}


header .nav-item a{
    color: #393939;
    transition: color 0.5s;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    font-weight: 500;
}
header .nav-item a:hover{
    color: #787878 !important;
}
header  .navbar-brand{
    width:8.5rem;
    padding: 0rem 1rem;
}

header button{
    border-color: transparent !important;
}
header button:focus{
    outline: none !important;
}
header .btn-brdr{
    padding: 0.5rem ;
    border-left: 1px solid #e6e6e6;
}
#tooglebtn{
    color:white;
}

/******************************************banner***************************************/

#banner{
    height: 100vh;
}
#banner .carousel{
    height: 100%;
    color: white;
}
/* #banner .carousel-inner{
    height: 100%;
}
#banner .carousel-item{
    height: 100%;
} */
#banner .layer-gray{
    background-color: rgba(31, 31, 31, 0.5);
}
#banner .carousel-info{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:  15px;
}
#banner .bg-1{
    background-image: url("../images/bg-image-28.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner .bg-2{
    background-image: url("../images/bg-image-29.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .carousel-info h1{
    font-size: 3.8rem;
    font-weight: 700; 
    animation: zoom-in- 0.5s 0.2s ease both;   
}
#banner .carousel-info h4{
    font-size: 1rem;
    margin-bottom: 1.8rem;
    animation: zoom-in- 0.5s 0.7s ease both;   

}
.carousel-btn{
    animation: zoom-in- 0.5s 1s ease both;   
}

@keyframes zoom-in-{
    0%{opacity: 0;
        transform: scale(0);}
    100%{transform: scale(1);opacity: 1;}
}

.btn-color{
    color: white;
    border: 1px solid white;
    font-weight: 600;
    padding: 1rem 1.7rem;
    font-size: 0.9rem;
}
.btn:focus{
    box-shadow: none;
}
.btn-color:hover{
    color: #1f1f1f;
    background-color: white;
}
 .btn-read{

    background-color: #00c3da;
    border:1px solid #00c3da;
}
 .btn-read:hover{
    background-color: #00d5ee;
    transform: translateY(-1px);
    color: white;
    animation: bg 0.7s  ease;

}
@keyframes bg {
    100%{
        
        background-image: linear-gradient(to right bottom, transparent, rgba(255, 255, 255, 0.4), transparent);
    }
}
#banner .carousel-control-prev, #banner .carousel-control-next{
    opacity: 0;
}


/******************************************about***************************************/

#about{
    border-bottom: 1px solid #dedede;
}
#about .inner p{
    font-size: 1.25rem;
}
#about .inner p span{
     color: #00c3da;
     font-weight: 400;
}
#about .btn-color{
    color: #1f1f1f;
    border: 1px solid #dedede;
    font-weight: 500;
    border-radius: 0;
    font-size: 0.8rem;
}
#about .btn-color:hover{
    color: white;
    background-color: #1f1f1f;
}

/****************************titles************************************************/
.main-title{
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 10;
}
.main-title::before{
    content: "";
    color: #787878;
    opacity: 0.06;
    text-align: center;
    width: 70%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,8%);
    font-size: 5rem;
    z-index: 1;  
    font-weight: 700;
}
.sub-title{
    font-size: 1.3rem;
    font-weight: 500;
}
/******************************************team***************************************/

#team .main-title::before{
    content: "C";
}

#team .img-info{
    background-color: rgba(0, 195, 218, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    padding: 1rem ;
    color: white;
    opacity: 0;
    transition: all linear 0.3s;
    
}
#team .img-container:hover .img-info{
    top: 0;
    opacity: 1;
    
}

#team .img-info h5{
    font-size: 0.9rem;
    font-weight: 600;
}
#team .img-info h6{
    font-size: 0.85rem;
}
#team .img-icon {
    color: white;
    padding: 0 0.5rem 0 0;
    background-color: none;

    
}
#team .img-icon:hover i{
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.705);
    
}



/****************************services************************************************/
#services{
    background-color: #636363;
    color: white ;
}
#services .main-title::before{
    content: "W";
    color: white;
    bottom: 20%;
    left: 50%;
    top: unset;
    transform: translate(-50%,20%);

}
#services .title{
    text-align: center;
}
 ul{
    list-style: none;
}
#services li{
    font-weight: 600;
    font-size: 0.9rem;
}
#services .l-1  li , #services .l-2 li{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;

}
#services li i{
    padding-right: 0.8rem;
}
#services p{
    font-weight: 500;
    font-size: 1.1rem;
}

/****************************pricing************************************************/
#pricing{
    background-color: #f7f7f7;
}
#pricing .main-title::before{
    content: "C";
}
#pricing .pricing-card{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 3rem 2rem;
}
#pricing .price {
    border-bottom: 1px solid #eeeeee;
}
#pricing .pricing-card h6{
    font-size: 0.9rem;
    font-weight: 400;

}
#pricing .price h2{
    font-size: 4rem;
    font-weight: 500;
}
#pricing .dollar{
    font-weight: 400;
    font-size: 1.15rem;
    vertical-align: top;
}
#pricing .our-services li{
    margin-bottom: 1.5rem;
    color: #787878;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

#pricing .best-badge{
    background-color: #00c3da;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
}
.best-color{
    color: #00c3da;
}


#pricing .carousel-item {
    background-color: white;
    padding: 5rem 1rem;
    position: relative;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);

}
#pricing .testimonial-container{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -8%;  
}

#pricing .carousel-control-prev, #pricing .carousel-control-next{
    opacity: 0;
}
#pricing .carousel-control-prev-icon, #pricing .carousel-control-next-icon{
    background-image: none;
    color: #787878;
    font-size: 1.2rem;
}

#pricing .carousel-control-prev-icon:hover {
    color: #00c3da;
    transform: translateX(-3px);

}
#pricing .carousel-control-next-icon:hover{
    color: #00c3da;
    transform: translateX(3px);

}
#pricing .carousel-indicators{
    bottom: -20%;
}
#pricing .carousel-indicators li{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}
#pricing .carousel-indicators .active{
    background-color: #00c3da;
}

#pricing .media-body h5{
    font-weight: 700;
    font-size: 1.7rem;

}
#pricing .media-body h6{
    color: #787878;
    font-size: 0.9rem;
}




/****************************contact************************************************/


#contact input,#contact textarea{
    border: 2px solid #eeeeee;
    color: #555555;
    resize: none;
}
#contact input:focus,#contact textarea:focus{
    border: 2px solid #1f1f1f;
    outline: none;
}
#contact label{
    font-weight: 500;
    font-size: 0.9rem;
}
#contact .main-title::before{
    content: "G";
    bottom: -5%;
   left: -8%;
    top: unset;
    transform: translate(8%,5%);
    text-align: left;
}
iframe{
    height: 70vh;  
}

.slideUp{
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    z-index: 999999;
}



/****************************tablet************************************************/
@media screen and (min-width:768px){
    .container{
        max-width: 95%;
    }
    #banner .carousel-info h1{
        font-size: 4.3rem;
        font-weight: 700;
    }
    #banner .arrows{
        position: absolute;
        top: 50%;
        left: 0;
    }
    #banner .carousel-control-prev, #banner .carousel-control-next{

        opacity: 1;
        left: 0;
        border: 1px solid white;
        padding: 15px;
        top: unset;
        width: 50px;
        border-left: none;
        position: relative;
        bottom: 0;
        
    }
    #banner .carousel-control-prev::before, #banner .carousel-control-next::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        left: -100%;
        top: 0;
        transition: left 0.2s linear;
        z-index: -10;

    }
    
    
    #banner .carousel-control-prev:hover::before , #banner .carousel-control-next:hover::before{
        left: 0;
    }
    #banner .carousel-control-prev:hover  .carousel-control-prev-icon,#banner .carousel-control-next:hover .carousel-control-next-icon{
        color: #1f1f1f !important;
    }
    #banner .carousel-control-prev-icon, #banner .carousel-control-next-icon{

        background-image: none;
        color: white !important;
        
    }
    #pricing .testimonial-container{
       
        top: -15%;  
    }

    #pricing .carousel-item {
        background-color: white;
        padding: 5rem 4rem;
        position: relative;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    
    }
    

}


/*****************************desktop*****************************************************/
@media screen and (min-width:992px){

    .container{
        max-width: 85%;
    }
   header{
       background-color: transparent;
   }
    header .navbar-collapse{
        border-top:none;
        border-bottom: none;
        border-right: 1px solid #e6e6e6;
        background-color: transparent;

    }
    header .nav-item a{
        margin-bottom: 0; 
        color:white;          
    }    
    header .btn-brdr{
        padding: 0;
        border-left: none;
    }
    header .container-fluid{
        max-width: 1250px;
    }
    
    #banner .carousel-info h1{
        font-size: 6.2rem;
        font-weight: 700;
    }
    #banner .carousel-info h4{
        font-size: 1.14rem;    
    }
    #about .inner p{
        font-size: 1.5rem;
    }
    
    #services .main-title::before{
        content: "W";
        color: white;
        
        bottom: 20%;
        left: -10%;
        top: unset;
        transform: translate(10%,20%);
        text-align: left;
    }
    #services .title{
        text-align: left;
    }
    #pricing .testimonial-container{
       
        top: -15%;  
    }
    #pricing .best {
        transform: scale(1.1);
    }
    #pricing .carousel-control-prev, #pricing .carousel-control-next{
        opacity: 1;
    }
    #pricing .carousel-inner{
        width: 65%;
    }
    iframe{
        height: 100%;  
    }
    #contact .main-title::before{
        content: "G";
        bottom: -5%;
       left: -15%;
        top: unset;
        transform: translate(15%,5%);
        text-align: left;
    }

    
}

